.ad {
    color:peru;
}
.ap {
    color:blue;
}
.hp {
    color:green;
}
.mana {
    color:lightskyblue;
}
.lethality {
    color:#800;
}
.true {
    color:white;
}
.armor{
    color:red;
}
.as{
    color:red;
}
.mr {
    color:purple;
}
.crit{
    color:orange;
}
.ms{
    color:yellow;
}
.soul {
    color:teal;
}
.omnivamp {
    color:darkred;
}
.spellvamp {
    color:green;
}
.lifeSteal{
    color:peru;
}

td{
    min-width: 50px;
    padding: 10px;
}
th{
    min-width: 50px;
    padding: 10px;
}

body {
    background-color: gray;
}